# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS files
.DS_Store
Thumbs.db

# Kotlin compilation cache
.kotlin
*.zip
resourcepack/
